html
{
    background: #f5f7f8;
    font-family: "Roboto", sans-serif;
    padding: 0 20px;
}
.band
{
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 500px)
{
    .band
    {
        grid-template-columns: 1fr 1fr;
    }
    .item-1
    {
        grid-column: 1 / span 2 ;

    }
    .item-1 h1
    {
        font-size: 30px;
    }

}
@media only screen and (min-width: 850px)  
{
    .band
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}

.card
{
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all 0.1s easi-in;
}

.card:hover
{
    top: 2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}
.card .thumb
{
    background-size: cover;
    background-position : center center ;
    padding-bottom: 50%;
}
.card article 
{
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.card p 
{
    flex:  1 ;
    line-height: 1.4;
}
.card span 
{
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0 ;
}
h1 
{
    font-size: 20px;
    margin: 0;
    color: #333;
}

.btn-grad {background-image: linear-gradient(to right, #f51010 0%, #190A05  51%, #870000  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
