#frente, #trasera
{
    /* background-color: cadetblue; */
    text-align: center;
    background-image: url("../img/mundo.webp");
}
h2
{
    
    color: rgb(117, 92, 228);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
#boton
{
    text-align: right;
   
}
#numero
{
    text-align: end;
    color: rgb(235, 26, 26);
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
  
}
#princi
{
    background-color: black;
}
#menos, #mas 
{
    padding: 10px;
    margin: 5px;
    width: 100%;
}
span
{
    color: red;
    font-size: 50px;
}
#tex
{
        
		color: rgb(209, 233, 235);
		position: relative;
		animation: josua .8s infinite ;
        width: 20%;
        animation-delay: 5s;

}

@keyframes josua
{
	  0%{transform: rotate(0deg);}
	 50%{transform: rotate(2deg);}
     60%{ transform: rotate(2deg);} 
	 75%{transform: rotate(4deg);}
 	 100%{ transform: rotate(6deg);}
      90%{ color: rgb(15, 54, 231); transform: rotate(0deg);} 
      75%{transform: rotate(0deg);}
      60%{transform: rotate(0deg);} 
      50%{transform: rotate(0deg);}
     0%{transform: rotate(0deg);} 
     
}
#flecha
{
    color: blue;
    width: 50px;
}

